%form{action: '/checkout_confirmation', method: 'post'}
  %table{id: 'products'}
  %tr
    %td= @product.name
    %td 
      %input{type: 'text', name: 'quantity', value: '1'}
    %td= @product.price
    %td $2.00

  %input{type: 'text', name: 'firstName'}
  %input{type: 'text', name: 'lastName'}
  %input{type: 'text', name: 'creditCardNumber'}
  %input{type: 'text', name: 'expirationDate'}
  %input{type: 'text', name: 'addressLine1'}
  %input{type: 'text', name: 'addressLine2'}
  %input{type: 'text', name: 'city'}
  %input{type: 'text', name: 'state'}
  %input{type: 'text', name: 'zipcode'}
  %input{type: 'text', name: 'email'}
  %input{type: 'submit', value: 'Checkout'}
  %input{type: 'hidden', name: 'product_id', value:@product.id}

= link_to "Cancel", root_path