%table{id: 'products'}
  %tr
    %td cool beans
    %td 1
    %td $2.00
    %td $2.00
%form
  %input{type: 'text', name: 'firstName'}
  %input{type: 'text', name: 'lastName'}
  %input{type: 'text', name: 'creditCardNumber'}
  %input{type: 'text', name: 'expirationDate'}
  %input{type: 'text', name: 'addressLine1'}
  %input{type: 'text', name: 'addressLine2'}
  %input{type: 'text', name: 'city'}
  %input{type: 'text', name: 'state'}
  %input{type: 'text', name: 'zipcode'}
  %input{type: 'text', name: 'email'}

%a{href: '/checkout_confirmation'}Checkout
= link_to "Cancel", root_path