%table.table-hover
  %tr Name
  %tr
  %tr Description
  %tr
  %tr quantity
  %br
  - @orders.each do |order|
    - order.order_products.each do |order_product|
      %tr
        %td= Product.find(order_product.product_id).name
        %td
        %td= Product.find(order_product.product_id).description
        %td
        %td= order_product.quantity
