%table.table-hover
  %tr Name
  %tr
  %tr Description
  %tr
  %tr quantity
  %br
  - @orders.each do |order|
    %tr
      %td= Product.find(order.product_id).name
      %td
      %td= Product.find(order.product_id).description
      %td
      %td= order.quantity
