%table
  %tr
    %th Item
    %th Quantity
    %th Unit Price
    %th Subtotal
    %th
  = render partial: "product", collection: @cart.cart_products
  
%p

%form{ action: checkout_path, method: 'get' }
  %input{ type: 'submit', name: 'checkout', value: 'checkout'}


