/ .span9
/   .row-fluid
/     %ul.breadcrumb
/       %li
/         %a{:href => "#"} Home
/         %span.divider /
/       %li.active About
.row-fluid
.span12
  .page-header
    %h1
      About Us
      %small Making a change.
  %br
  %blockquote
    %p A generous heart, kind speech, and a life of service and compassion are the things which renew humanity.
    %small 
      %cite Buddha
  %br
  %blockquote.pull-right
    %p Only a life lived for others is a life worthwhile.
    %small
      %cite Alberto Einstein
  %br
  %br
  %h3 Who we are ?
  %p
    We are a team of software developers and humanitarians. We wanted to combine those two passions and YaaGoat is the outgrowth of that.
  %br
  %h3 Our team
  %p
    %tr
      %td
        %a{:href => 'https://github.com/chelseakomlo'} Chelsea Komlo
      %td
        %a{:href => "https://github.com/lalalainexd"} Elaine Tai
      %td
        %a{:href => "https://github.com/7maples"} Jennifer Eliuk
