/ .span9
/   .row-fluid
/     %ul.breadcrumb
/       %li
/         %a{:href => "#"} Home
/         %span.divider /
/       %li.active About
.row-fluid
.span12
  .page-header
    %h1
      About Us
      %small Making a change.
  %br
  %blockquote
    %p A generous heart, kind speech, and a life of service and compassion are the things which renew humanity.
    %small 
      %cite Buddha
  %br
  %blockquote.pull-right
    %p Only a life lived for others is a life worthwhile.
    %small
      %cite Albert Einstein
  %br
  %br
  %h3 Who we are ?
  %p
    We are a team of software developers and humanitarians. We wanted to combine those two passions and YaaGoat is the outgrowth of that. All proceeds of YaaGoat will be donated to Heifer International. 
  %br
  %h3 Our team
  %p
    .row-fluid
      .span3
        %a{:href => 'https://github.com/chelseakomlo'} Chelsea Komlo
        .about_image= image_tag "https://secure.gravatar.com/avatar/ad4b30bcf145ffdf89e58b1de2f6ba9d?s=400&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"
      .span3
        %a{:href => "https://github.com/lalalainexd"} Elaine Tai
        .about_image= image_tag "https://secure.gravatar.com/avatar/e6be7ccf6681471e04fcdb39b1981b53?s=400&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"
      .span3
        %a{:href => "https://github.com/7maples"} Jennifer Eliuk
        .about_image= image_tag "https://secure.gravatar.com/avatar/e40b2fc9ddcf702bab9d61d28b8c8440?s=400&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"
      .span3
        %a{:href => "https://github.com/xacaxulu"} Xaca Xulu
        .about_image= image_tag "https://secure.gravatar.com/avatar/acaa4b48ddc933bbab8ec74968fe113f?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"

  %br
  %br
