State of International Development


%iframe{:frameborder => "0", :height => "325", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://www.google.com/publicdata/embed?ds=kthk374hkr6tr_&ctype=b&strail=false&bcs=d&nselm=s&met_x=indicator_53906&scale_x=lin&ind_x=false&met_y=indicator_103106&scale_y=lin&ind_y=false&met_s=indicator_306&scale_s=lin&ind_s=false&met_c=indicator_103106&scale_c=lin&ind_c=false&ifdim=country&tunit=Y&pit=1320206400000&hl=en_US&dl=en&ind=false&icfg&iconSize=0.5", :width => "400"}

