State of International Development

%br
%br
%br

%iframe{:frameborder => "0", :height => "825", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://www.google.com/publicdata/embed?ds=kthk374hkr6tr_&ctype=m&strail=false&bcs=d&nselm=s&met_c=indicator_67106&scale_c=lin&ind_c=false&met_s=indicator_67106&scale_s=lin&ind_s=false&ifdim=country&hl=en_US&dl=en&ind=false&xMax=180&xMin=-180&yMax=-69.3522497303588&yMin=76.39136948989686&mapType=t&icfg&iconSize=0.5", :width => "900", :align => "middle"}

%br
%br
%br