Admin Products Page

%table
  - @products.each do |product| 
    %tr
      %td 
        = product.name
      %td 
        = product.description
      %td 
        = product.price
      %td
        = link_to "Edit", admin_product_path(product), class: 'product', id: dom_id(product) 



%form{ action: new_admin_product_path, method: 'get' }
  %input{ type: "submit", value: "Create Product" }
