

- @products.each_slice(4).each do |group|
  .row-fluid
    %ul.thumbnails
    - group.each do |product|
      %li.span5
        .thumbnail
          %a{:href => product_path(product)}
            %img.thumb{:alt => "", :src => product.image.url(:thumb)}
          .caption
            %h4= link_to "#{product.name}", product_path(product)
            %p=product.price
            %p=product.description
%br
%br

